footer.footer {
  padding: 50px 0;
  background: #0F0F0F;
  color: #EEE;
  @include fz(16);

  a {
    color: #EEE;

    &:hover {
      color: $primary;
    }
  }
}

.footer-top {
  padding-bottom: 35px;
  margin-bottom: 45px;
  border-bottom: 2px solid rgba(#999, .5);

  &-flex {
    align-items: flex-start;
  }
}
.footer-logo {
	padding-right: 25px;
	margin-right: 25px;
	position: relative;
  max-width: 185px;
  flex: 0 0 185px;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 1px;
		background: $primary;
	}
}

.footer-menu {
	flex: 1 0 auto;
  max-width: 50%;

	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 40px;
	}
	a {
		display: block;
		height: 34px;
		line-height: 34px;
		white-space: nowrap;
	}
}

.footer-contacts {
  padding-top: 10px;
  flex: 0 0 495px;

  &-item {
    margin-bottom: 10px;
  }
  &-link {
    display: inline-block;
    position: relative;
    padding-left: 18px;

    svg.sprite {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      top: 0.25em;
      fill: #EEE;
    }
    &:hover {
      svg.sprite {
        fill: $primary;
      }
    }
  }
}
.footer-title {
  margin-bottom: 20px;

  span {
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid $primary;
  }
}
.footer-adres {
  line-height: 2;
  margin-top: -5px;

  a {
    text-decoration: underline;
  }
}
.footer-dev {
  &-link {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    margin-right: 7px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 18px;
      height: 29px;
      background: url(../images/svg/farba.svg) center no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 1310px) {
  .footer {
    &-top-flex {
      flex-wrap: wrap;
    }
    &-contacts {
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 40px;
    }
    &-menu {
      flex: 0 0 calc(100% - 210px);
      max-width: calc(100% - 210px);
    }
  }
}

@media (max-width: 992px) {
  .footer-bottom {
    &-flex {
      display: block;
      text-align: center;
    }
  }
  .footer-copy {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .footer-logo {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
    text-align: center;

    &:after {
      content: none;
    }
    .logo-link {
      display: inline-block;
    }
  }
  .footer-menu {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

    li {
      margin: 0px 10px 0px;
    }
  }
}

@media (max-width: 400px) {
  .footer-contacts {
    .col-us-6:first-child {
      margin-bottom: 20px;
    }
  }
}