/* --
RESPONSIVE STYLES ----------------------- */

@media (max-width: 1310px) {
	.ui-header {
		@include fz(85);
	}
	.main-block {
		margin-bottom: 70px;

		&-title {
			@include fz(85);

			div:nth-of-type(2n) {
				padding-left: clamp(50px, 25%, 150px);
			}
		}
	}
	.main-about {
		&-col-right {
			align-self: flex-end;
		}
	}
	.main-why {
		&-content {
			padding-left: 35px;
		}
	}
	.main-advantage {
		padding-left: 65px;
		margin-bottom: 65px;
	}
}//1310px



@media (max-width: 992px) {
	html {
		font-size: 15px;
	}
	.slick-main {
		&-slide {
			height: calc(100vh - 64px);
		}
	}
	.slick-main-arrows {
		bottom: 45px;

		.slick-arrow {
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.main-hobs {
		&-img {
			flex: 0 0 35%;
			max-width: 35%;
		}
		&-contetn {
			flex: 0 0 65%;
			max-width: 65%;
		}
	}
	.main-block-txt-righted {
		padding-right: 50px;
	}
	.main-block {
		&-txt {
			margin-top: 45px;
			margin-bottom: 45px;
			padding-left: 45px;

			&-righted {
				padding-left: 0;
				padding-right: 45px;
			}
			&-margin {
				margin-bottom: 45px;
			}
		}
	}
	.main-feedback {
		background-size: 80%;
		margin-bottom: 70px;
		min-height: 0;
	}

}//992px


@media (max-width: 768px) {
	.slick-main {
		&-title {
			@include fz(44);
		}
		&-txt {
			@include fz(20)
		}
		&-arrows {
			bottom: 30px;
		}
	}

	.ui-header {
		font-size: calc(32px + 5.5vw);
	}
	.main-block {
		&-title {
			font-size: calc(32px + 5.5vw);

			div:nth-of-type(2n) {
				padding-left: 70px;
			}
		}
	}
	.main-about {
		&-col-left {
			flex: 0 0 100%;
			max-width: 100%;
		}
		&-col-right {
			display: none;
			visibility: hidden;
		}
		&-title {
			position: static;
			margin-bottom: 25px;
			text-align: center;
		}
	}

	.main-hobs {
		margin-bottom: 30px;

		&-content {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 30px;
		}
		&-img {
			flex: 0 0 50%;
			max-width: 50%;
			order: -1;
			margin-top: -63%;
			margin-left: 50%;
			margin-bottom: 30px;
		}
		&-title {
			margin: 0 0 20px 0;
			text-align: center;
		}
		.row:first-of-type {
			.main-hobs-img {
				order: 1;
				margin-top: 0;
				margin-left: 0;
			}
		}
 	}

	.main-why {
		&-img {
			flex: 0 0 100%;
			max-width: 100%;
			order: 1;
		}
		&-content {
			flex: 0 0 100%;
			max-width: 100%;
			padding-left: 15px;
		}
		&-title {
			margin: 0;
		}
	}
}//768px


@media (max-width: 480px) {
	.main-block {
		&-txt {
			margin-top: 30px;
			margin-bottom: 30px;
			padding-left: 30px;

			&-righted {
				padding-left: 0;
				padding-right: 30px;
			}
			&-margin {
				margin-bottom: 30px;
			}
		}
	}

	.main-advantage {
		padding-left: 55px;
		margin-bottom: 55px;
		@include fz(16);

		&-icon {
			width: 40px;
			height: 40px;
			top: 4px;
		}
	}

	.main-feedback {
		background: none;

		&-title {
			margin-bottom: 35px;
		}
		&-content {
			width: 100%;
		}
		&-form {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}//480px