/*catalog*/

.page-header {
  background: #000 url("../images/bgs/catalog-background.png") center no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 90px;
}

.page-header-text {
  font-family: "Playfair Display";
  font-size: 60px;
  color: #D19876;
  letter-spacing: 0.05em;
  line-height: 1.2;
}

.breadcrumbs-box {
  padding-top: 40px;
  padding-bottom: 50px;
}

.search-filter {
  background-color: #1C1C1C;
  padding: 56px 53px 40px 53px;
  margin-bottom: 120px;
}

.search-filter-selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-filter-in-collect {
  display: flex;
  justify-content: space-between;
}

.search-filter-in-collect>.search-filter-selects {
  margin-bottom: 0;
  height: 100%;
}

.search-filter-buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-filter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #D19876;
  background-color: #1C1C1C;
  padding: 16px 33px 17px 33px;
  border: 1px solid #D19876;
}

.btn-filter:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.btn-filter:active {
  color: #505050;
  border: 1px solid #505050;
}

.apply-filter {
  margin-right: 40px;
}



/* коллекция */

.collection-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  height: 431px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.collection-block > img {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translate(-50%,0);
  max-width: none;
}

.collection-block::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/bgs/blend.jpg);
  background-color: #131212;
  left: 0;
  top: 0;
  transition: opacity 0.6s;

  opacity: 0;
}

.collection-block:hover::after {
  opacity: 1;
}


.collection-block-left {
  text-align: center;
  width: 100%;
  padding-top: 128px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.5s;
  position: absolute;
  z-index: 9;
}

.collection-block-text {
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 93px;
  letter-spacing: 0.05em;
  color: #EEEEEE;
  text-shadow: 0px 4px 20px rgba(131, 131, 131, 0.5);
  margin-bottom: 23px;
  transition: 0.5s;
}

.collection-block-right {
  right: 0;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  display: flex;
  max-width: 540px;
  flex-wrap: wrap;
  padding-top: 23px;
  z-index: 9;
}




.collection-element {
  display: flex;
  position: relative;
  cursor: pointer;

  margin-right: 22px;
  margin-bottom: 22px;
}



.collection-element-name {
  display: inline-block;
  background-color: #D19876;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 9px 40px 9px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.collection-element-name:hover {
  background-color: #FFFFFF;
  color: #D19876;
}

.search-filter-checkbox {
  position: relative;
  border: none;
  width: 230px;
  border-bottom: 1px solid #999999;
  color: #999999;
  position: relative;
  padding-left: 2px;
  padding-bottom: 8px;
}

.search-filter-checkbox:hover {
  color: #FFFFFF;
}

.search-filter-checkbox:active {
  color: #FFFFFF;
}


.search-filter-checkbox {
  margin-right: 95px;
  padding-top: 8px;
}

.search-filter-checkbox:last-child {
  margin-right: 0;
}

.arrow-down {
  position: absolute;
  right: 3px;
  top: 9px;
  border: solid #999999;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.search-filter-checkbox:hover>.arrow-down {
  border-color: #FFFFFF;
}

.search-filter-checkbox:active>.arrow-down {
  border-color: #FFFFFF;
}

.ul-checkbox {
  position: absolute;
  display: none;
  margin-top: 8px;
  z-index: 3;
  left: 0;
  top: 100%;
  margin: 0;
}

.search-filter-checkbox:hover>.ul-checkbox {
  display: block;
}


.ul-checkbox {
  border: 1px solid #FFFFFF;
  padding: 16px;
  width: 100%;
  min-width: 150px;
  background-color: #1C1C1C;
}

.li-checkbox {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  padding-left: 35px;
}

.li-checkbox .jq-checkbox {
  position: absolute;
  left: 0;
  top: 10px;
}
.jq-checkbox {
  background-color: #1C1C1C;
}

.jq-checkbox.checked {
  background-image: url(../images/svg/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.jq-checkbox.checked .jq-checkbox__div {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.clear-filter {
  position: relative;
  opacity: 1;
}


.clear-filter:before,
.clear-filter:after {
  position: absolute;
  left: 32px;
  content: ' ';
  height: 27px;
  width: 2px;
  background-color: #D19876;
}

.clear-filter:before {
  transform: rotate(45deg);
}

.clear-filter:after {
  transform: rotate(-45deg);
}

.clear-filter:hover:after,
.clear-filter:hover:before {
  background-color: #FFFFFF;
}

.clear-filter:active:after,
.clear-filter:active:before {
  background-color: #505050;
}

.btn-white-collection {
  border-color: #EEEEEE;
  color: #EEEEEE;
}

.btn-white-collection:hover {
  border-color: #D19876;
  color: #D19876;
}

.btn-white-collection:active {
  border-color: #8E6146;
  color: #8E6146;
}


/* Карточка товара */

.card-product {
  background-color: #FFFFFF;
  margin-bottom: 120px;
  padding: 58px 38px 58px 38px;
}

.card-product-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  margin-left: -27px;
  margin-right: -27px;
}

.card-product-name {
  font-family: "Playfair Display";
  font-size: 70px;
  color: #D19876;
  text-shadow: 0px 4px 20px rgb(131 131 131 / 50%);
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-bottom: 32px;
}


.card-product-td {
  color: #171717;
  font-family: Montserrat;
  font-size: 18px;
}

.card-product-td table {
  width: 100%;
}

.card-product-td td {
  padding: 11px 0px;
}

.card-product-td td:last-child {
  text-align: right;
}

.card-product-text {
  max-width: 999px;
  border-left: 1px solid #D19876;
  padding: 16px 31px 16px 31px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #171717;
  margin-bottom: 42px;
}

.card-product-method {
  display: flex;
  max-width: 1110px;
}

.card-product-left {
  padding-left: 27px;
  padding-right: 27px;
  flex: 0 0 48%;
  max-width: 48%;
}

.card-product-image {
  padding-left: 27px;
  padding-right: 27px;
  flex: 0 0 52%;
  max-width: 52%;
}

.card-product-method-left td {
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
}

.card-product-method-left td:last-child {
  text-align: right;
  font-size: 14px;
}

.card-product-method-left tbody tr {
  border-bottom: 1px solid #999999;
}

.card-product-method-left th {
  height: 74px;
  background-color: #D19876;
  color: #FFFFFF;
}

.card-product-method-right td {
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
}

.card-product-method-right table {
  width: 100%;
}

.card-product-method-left table {
  width: 100%;
}


.card-product-method-right td:last-child {
  text-align: right;
  font-size: 14px;
}

.card-product-method-right tbody tr {
  border-bottom: 1px solid #999999;
}

.card-product-method-right th {
  height: 74px;
  background-color: #D19876;
  color: #FFFFFF;
}

.card-product-method-left th {
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
}

.card-product-method-right th {
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
}

.card-product-method-left th:first-child {
  text-align: left;
}

.card-product-method-left th:last-child {
  text-align: right;
}

.card-product-method-right th:first-child {
  text-align: left;
}

.card-product-method-right th:last-child {
  text-align: right;
}



[class*="coll-"] {
  width: 100%;

}

.coll-4 {
  -ms-flex: 33.333%;
  flex: 33.333%;
  max-width: 33.333%;
  padding-left: 35px;
  padding-right: 35px;
}

.other-products {
  padding: 0px 72px;
}

.product-examples .row {
  margin-right: -35px;
  margin-left: -35px;

}

.other-products-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #171717;
  margin-bottom: 59px;
}

.product-examples {
  margin-bottom: 120px;
}

.product-examples-item {
  position: relative;
  margin-bottom: 42px;
  overflow: hidden;
}

.product-examples-item img {
  display: block;
  width: 100%;
  transition:  transform .5s;
}
.product-examples-item:hover img {
  transform: scale(1.08);
}





.product-examples a {
  cursor: pointer;
  display: block;
  position: relative;
}


.product-examples-text {
  display: inline-block;
  background-color: #D19876;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 9px 40px 9px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.product-examples-text:hover {
  background-color: #FFFFFF;
  color: #D19876;
}



/* 404 */
.error-page-wrapper {
  background-color: #0F0F0F;
}

.error-page {
  width: 100%;
  min-height: calc(100vh - 78px);
  background-color: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: center;

}

.error-inner {
  text-align: center;
  padding: 30px 30px 60px;
}

.error-code {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
  color: #D19876;
  text-align: center;
}

.error-date {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #D19876;
  margin-bottom: 100px;
}

.error-btn {
  position: relative;
  text-align: center;
  color: #D19876;
  height: 120px;
  padding: 33px 120px 41px 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  border: 1px solid #D19876;
}

.error-btn svg {
  position: absolute;
  right: 33px;
  height: 49px;
  fill: #D19876;


}

.error-btn:hover svg {
  fill: #FFFFFF;
}

.error-btn:active svg {
  fill: #505050;
}

.collection-name {
  font-family: "Playfair Display";
  font-size: 100px;
  color: #D19876;
  text-shadow: 0px 4px 20px rgb(131 131 131 / 50%);
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-bottom: 40px;
  padding-left: 60px;
}

.collection-text {
  position: relative;
  padding-left: 100px;
  margin-bottom: 70px;
  max-width: 650px;
}

.collection-text::before {
  position: absolute;
  top: 15px;
  bottom: 15px;
  content: " ";
  width: 1px;
  background-color: #D19876;
  left: 72px;
}

@media (min-width:992px) {
  .collection-block:hover>.collection-block-right {
    opacity: 1;
    transition: 0.5s;

  }
  .collection-block:hover>.collection-block-left {
    width: calc(100% - 540px);
  }
}

@media (max-width:992px) {
  .search-filter {
    margin-bottom: 90px;
  }
  .search-filter-selects {
    flex-wrap:  wrap;
    margin-right: -40px;
    margin-bottom: 20px;
  }
  .search-filter-checkbox {
    flex:  0 0 calc(50% - 40px);
    margin-right: 40px;
    margin-bottom: 20px;
  }
  .search-filter-checkbox:last-child {
    margin-right: 40px;
  }
  .collection-block-right {
    display: none;
    visibility: hidden;
  }

  .other-products {
    padding-left: 0;
    padding-right: 0;
  }
  .collection-text {
    padding-left: 30px;
    margin-bottom: 50px;
  }
  .collection-text:before {
    left: 0;
  }
  .collection-name {
    padding-left: 0;
    font-size: 60px;
  }
  .product-examples .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .coll-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search-filter-in-collect {
    display: block;
  }
  .search-filter-in-collect>.search-filter-selects {
    margin-bottom: 20px;
  }

  .card-product {
    padding: 40px 30px;
  }
  .card-product-left,
  .card-product-image {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-product-image {
    order: -1;
    text-align: center;
    margin-bottom: 15px;
  }
  .card-product-image img {
    display: inline-block;
    max-height: 400px;
  }
  .card-product-method-left,
  .card-product-method-right {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .card-product-method-left {
    margin-bottom: 30px;
  }
}

@media (max-width:  768px) {
  .page-header-text {
    font-size: 45px;
  }
  .coll-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .product-examples-text {
    padding: 5px 15px;
  }
  .card-product-name {
    font-size: 50px;
  }
}

@media (max-width:  576px) {
  .breadcrumbs-box {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }
  .search-filter {
    padding: 40px 25px;
    margin-bottom: 65px;
  }
  .search-filter .apply-filter {
    padding: 0px 25px;
    height: 60px;
    line-height: 1.1;

  }
  .apply-filter {
    margin-right: 20px;
  }

  .collection-block {
    margin-bottom: 50px;
    height: 350px;
  }
  .collection-block-left {
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .collection-block-text {
    font-size: 42px;
    line-height: 1.25;
  }

  .page-header {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .page-header-text {
    font-size: 40px;
  }
  .collection-name {
    font-size: 45px;
  }
}

@media (max-width:  420px) {
  .product-examples .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .product-examples-item {
    margin-bottom: 20px;
  }
  .coll-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-examples-text {
    padding: 4px 10px;
    font-size: 15px;
  }
  .ui-btn {
    font-size: 16px;
    font-size: 1rem;
  }
  .search-filter-checkbox {
    flex:  0 0 calc(100% - 40px);
  }
  .card-product-name {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .card-product-td {
    font-size: 15px;
  }
  .card-product-text {
    font-size: 16px;
    padding-right: 0;
  }
}

@media (max-width:  1300px) {
  .error-code {
    font-size: 165px;
  }
  .error-date {
    font-size: 40px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
    margin-bottom: 60px;
  }
  .error-date br {
    display: none;
  }
  .error-btn {
    font-size: 20px;
    height: 70px;
    line-height: 68px;
    padding: 0px 30px;
  }
  .error-btn svg {
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 20px;
    width: 40px;
  }
}

@media (max-width:  576px) {
  .error-code {
    font-size: 125px;
  }
  .error-date {
    font-size: 28px;
    margin-bottom: 45px;
  }
  .error-btn {
    font-size: 16px;
  }
  .error-btn svg {
    height: 16px;
    width: 34px;
    margin-left: 5px;
  }
}